### LIMPIEZA DE TABLA

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Cargar el csv de los tiburones

data = pd.read_csv('C:\\Users\\chiin\\Desktop\\Proyecto_Tiburon\\attacks.csv', encoding='latin-1', low_memory = False)

In [3]:
data.shape

(25723, 24)

In [4]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
#borrar todas las filas donde toda la fila sean valores nulos

data = data.dropna(axis = 0, how='all')

data.shape

(8703, 24)

In [6]:
# Borrar duplicados

data = data.drop_duplicates()

data.shape

(6311, 24)

In [7]:
# Resetear el index sin crear una columna nueva llamada Index

data.reset_index(drop = True, inplace=True)

data.shape

(6311, 24)

In [8]:
# Vamos a borrar filas con mas de un 90 % de valores nulos 

umbral = int(data.shape[1] * 0.1)

data= data.dropna(thresh=umbral)

data.shape

(6309, 24)

In [9]:
# Mirar la suma de valores nulos en cad columna

nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Date                         7
Year                         9
Type                        11
Country                     57
Area                       462
Location                   547
Activity                   551
Name                       217
Sex                        572
Age                       2838
Injury                      35
Fatal (Y/N)                546
Time                      3361
Species                   2845
Investigator or Source      24
pdf                          7
href formula                 8
href                         7
Case Number.1                7
Case Number.2                7
Unnamed: 22               6308
Unnamed: 23               6307
dtype: int64

In [10]:
data.shape

(6309, 24)

In [11]:


data['Fatal (Y/N)'].value_counts(normalize=True) * 100

N          74.492452
Y          24.084678
UNKNOWN     1.231997
 N          0.121465
M           0.017352
2017        0.017352
N           0.017352
y           0.017352
Name: Fatal (Y/N), dtype: float64

In [12]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.lower()

data['Fatal (Y/N)'].value_counts(normalize=True) * 100

n          74.492452
y          24.102030
unknown     1.231997
 n          0.121465
m           0.017352
2017        0.017352
n           0.017352
Name: Fatal (Y/N), dtype: float64

In [13]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].replace({' n' : 'n','m' : 'n'})

data['Fatal (Y/N)'].value_counts(normalize=True) * 100

n          74.631268
y          24.102030
unknown     1.231997
2017        0.017352
n           0.017352
Name: Fatal (Y/N), dtype: float64

In [14]:
data['Fatal (Y/N)'].value_counts()

n          4301
y          1389
unknown      71
2017          1
n             1
Name: Fatal (Y/N), dtype: int64

In [15]:
# Eliminadas las filas donde el ataque no sea mortal o no

data.shape

(6309, 24)

In [16]:
# Vamos a sobreescribir una columna nula y vamos a  poner los oceanos donde se haya realizado el ataque

In [17]:
data= data.dropna(subset=['Location'])

data.shape

(5762, 24)

In [18]:
data.rename(columns={'Unnamed: 22': 'ocean'}, inplace = True)

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'ocean',
       'Unnamed: 23'],
      dtype='object')

In [19]:
nan_cols[nan_cols>0]

Case Number                  1
Date                         7
Year                         9
Type                        11
Country                     57
Area                       462
Location                   547
Activity                   551
Name                       217
Sex                        572
Age                       2838
Injury                      35
Fatal (Y/N)                546
Time                      3361
Species                   2845
Investigator or Source      24
pdf                          7
href formula                 8
href                         7
Case Number.1                7
Case Number.2                7
Unnamed: 22               6308
Unnamed: 23               6307
dtype: int64

In [20]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Year                         1
Type                         3
Country                     11
Area                       215
Activity                   457
Name                       168
Sex                        498
Age                       2441
Injury                      21
Fatal (Y/N)                482
Time                      2884
Species                   2474
Investigator or Source      16
href formula                 1
ocean                     5761
Unnamed: 23               5761
dtype: int64

In [21]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'ocean',
       'Unnamed: 23'],
      dtype='object')

In [22]:
data= data.dropna(subset=['Species '])

data.shape

(3288, 24)

In [24]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Country                      3
Area                        83
Activity                   201
Name                        86
Sex                        294
Age                       1151
Injury                       8
Fatal (Y/N)                464
Time                      1409
Investigator or Source       8
ocean                     3288
Unnamed: 23               3288
dtype: int64

In [25]:
data.reset_index(drop = True, inplace=True)

In [26]:
data= data.dropna(subset=['Activity'])

data.shape

(3087, 24)

In [27]:
data= data.dropna(subset=['Fatal (Y/N)'])

data.shape

(2727, 24)

### Ya tengo el Dataframe reducido, ahora a limpiar cada columna

In [28]:
data.columns = data.columns.str.strip()

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'ocean',
       'Unnamed: 23'],
      dtype='object')

In [29]:
data.columns=[col.lower().replace(' ', '') for col in data.columns]

data.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal(y/n)', 'time',
       'species', 'investigatororsource', 'pdf', 'hrefformula', 'href',
       'casenumber.1', 'casenumber.2', 'originalorder', 'ocean', 'unnamed:23'],
      dtype='object')

In [31]:
data.tail()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,ocean,unnamed:23
3283,ND.0052,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),A village north of San Carlos,Lashing logs together when he fell into the water,an Indian,M,NaN,"FATAL, leg severed",y,NaN,"Bull shark caught, leg recovered & buried besi...","F. Poli, pp.150-153",ND-0052-NicaraguanIndian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0052,ND.0052,50.0,NaN,NaN
3284,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,"FATAL, left leg bitten with severe blood loss",y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,NaN,NaN
3285,ND.0037,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"FATAL, died of sepsis",y,NaN,"""a black-tipped shark""",G.F. Mead,ND-0037-PearlDiver-sepsis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0037,ND.0037,37.0,NaN,NaN
3286,ND.0036,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,NaN,Buttocks bitten,n,NaN,6' shark,G.F. Mead,ND-0036-Fisherman-SaudiArabia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0036,ND.0036,36.0,NaN,NaN
3287,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN

In [32]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

country                    1
area                      60
name                      32
sex                      198
age                      823
injury                     2
time                    1002
investigatororsource       5
ocean                   2727
unnamed:23              2727
dtype: int64